<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy">

</head>

<body>

	<form action="#" th:object="${userobj}" method="GET"
		th:action="@{/user/addUser}" class="form-horizontal">
		<table>
			<tr>
				<td>
					<h3>Create User</h3>
				</td>
			</tr>
			<div class="form-group">
			<tr>
				<td><label for="number" class="control-label col-xs-2">FirstName</label></td>
				<td>
					<div class="col-xs-2">
						<input type="text" class="form-control" th:field="*{firstName}"
							placeholder="Enter First Name" style="width: 10em;" />
					</div>
				</td>
			</tr>
			</div>
			<tr>
				<td><label for="number" class="control-label col-xs-2">LastName</label></td>
				<td>
					<div class="col-xs-2">
						<input type="text" class="form-control"
							placeholder="Enter Last Name" th:field="*{lastName}"
							style="width: 10em;" />
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="number" class="control-label col-xs-2">Age</label></td>
				<td>
					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder="Age" th:field="*{age}"
							style="width: 10em;" />
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="number" class="control-label col-xs-2">Email</label></td>
				<td>
					<div class="col-xs-2">
						<input type="text" class="form-control" placeholder="Email" th:field="*{email}"
							style="width: 10em;" />
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
							<button type="submit" class="btn btn-primary">Create
								User</button>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
